<!DOCTYPE html>
<html lang="en">
<body>
    <head>
<meta charset="UTF-8">
<title>Shopee and Lazada Comparator</title>
<link rel="stylesheet" href="static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
</body>

<section>

    <div class="container">      
        <div class="shopee">
            <img src="static/shopee.png" class="shoplog">
            </div>
            <div class="lazada">
                <img src="static/laz.png" class="lazlog">
            </div>
                     
</div>
<div class="box">

   <div class="boxinside">
       <div class="banner">
        <div class="shopee">
            <img src="static/shopee.png" class="shoplog1">
            </div>
            <div class="lazada">
                <img src="static/laz.png" class="lazlog1">
            </div>
       </div>
       
       <div class="main">
           <form name="passdata" action="." method="post">
            <input type="text" name="sBox" placeholder="Search item">
           </form>
           
   </div>


   <div class="footer">
       <div class="text">SHOPEE vs LAZADA PRODUCT COMPARISON</span>
   </div>

   <div class="mascot">
    <img src="static/stickerlaz.png" class="bear">
   </div>

   <div class="monkey">
    <img src="static/monkey.png" class="shopanimal">
   </div>
  
</div>

</section>


</html>